// env.cpp
#include "infrastructure/env.h"

const char* WIFI_SSID = "name";
const char* WIFI_PASSWORD = "pass";
const char* WIFI_IP = "192.168.1.205";
const char* WIFI_GATEWAY = "192.168.1.1";
const char* WIFI_SUBNET = "255.255.255.0";

//const int GREEN_LED_PIN = D6;
//const int RED_LED_PIN = D7;

//const int LEFT_LED_MATRIX = D0;
//const int CENTER_LED_MATRIX = D1;
//const int RIGHT_LED_MATRIX = D2;

const int BOARD_LED = D4;

const unsigned char TEMPERATURE_SENSOR_PIN = D5;
const unsigned long TEMPERATURE_READ_PERIOD = 2 * 60 * 1000;
const unsigned long TEMPERATURE_FIRST_READ_AFTER_LOAD_INTERVAL = 5 * 1000;
const unsigned long TEMPERATURE_SEND_PERIOD = 10 * 60 * 1000;

const int SCHEDULER_MAX_TASKS_COUNT = 10;
